@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-c-accent: #f57c00;
  --color-c-accent-hover: #ef6c00;
  --color-c-accent-subtle: #ffa726;

  --color-c-background: #f5f2eb;
  --color-c-surface: #fdf4ea;
  --color-c-surface-muted: #e8e1d9;
  --color-c-border: #e3d9cc;

  --color-c-primary: #c64846;
  --color-c-secondary: #8bc6db;


  --color-c-text: #2f2f2f;
  --color-c-text-muted: #5a5248;

  --color-c-nav: #f1e9dc;

  --color-c-goal-a: #f26619;
  --color-c-goal-b:  #f8b089;
  --color-c-goal-c: #fbd5c0;
  --color-c-goal-miss: #b71c1c;

  --spacing-cell-w: 190px;
  --spacing-cell-h: 156px;
}

:root {
  --min-column-size: 16rem;
}

html {
  background-color: #f5f2eb;
}

.grid-flex {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size, 15ch), 100%), 1fr));
}
